header {
    background-image: url("../img_project/fondo_blanco.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    overflow: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem ;
    text-align: center;
    line-height: 2%;
    vertical-align: auto;
    margin-top: -60px;
    color: red;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem ;
    text-align: center;
    line-height: 2%;
    vertical-align: auto;
    margin-top: 3%;
    color: red;
}

img[src$="img_project/logo1200w.jpg"] {
    height: 100px;
    width: 10%;
    margin-top: 2%;
    padding: auto;
    border-width: 1rem;
    margin-right: 4%;
    margin-left: 10%;
}
img[src$="img_project/watsapp-1200.jpg"] {
    height: 30px;
    width: 5%;
    margin-bottom: 1%;
    margin-left: 70%;
    float: left;


}
header nav a[href="formulario/form.html"] {
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 1%;
    margin-right: 1%;
    padding-top: 1%;
    float: right;
    color:red;
}
nav {
    background-color: red;
    border-color: black;
    border-width: 20px;
}
.menu >li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    display: inline-block;   /* Pone los <li> uno al lado del otro */
    position: relative;      /* Necesario para ubicar el submenú */
    margin: 0 20px;          /* Espacio entre ítems */
    text-align: center;
    color:white;
    list-style: none;
}
.menu > li > a {
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2rem;
  padding: 10px 15px;
  display: inline-block;
}
/* --- GENERAL --- */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
}

/* --- SECTION (encabezado secundario o presentación) --- */
section {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  clear: both; /* evita que se superponga con flotantes anteriores */
}

/* --- MAIN (contenido principal) --- */
main {
  float: left;         /* ocupa el lado izquierdo */
  width: 70%;          /* ocupa el 70% del ancho */
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
}

main img {
  max-width: 100%;     /* imagen se adapta al ancho */
  height: auto;
  display: block;
  margin: 10px auto;
}

/* --- ASIDE (publicidad) --- */
aside {
  float: right;         /* ocupa el lado derecho */
  width: 28%;           /* ocupa el resto del ancho */
  background-color: #e0e0e0;
  padding: 20px;
  box-sizing: border-box;
}

aside img {
  width: 100%;          /* hace que la imagen llene el aside */
  height: auto;
}

/* --- LIMPIAR FLOTEOS AL FINAL --- */
footer {
  clear: both;          /* evita que se superponga con los float */
}
